# WhatsApp Cloud API
WA_TOKEN=EIl6gNY5JI9XKMz6l50A6iZBl8XOyuH8Cw11ZASPcbyOJrKHzR35mQSeYBg0e9TRKknRNqjHBsIYgR7PtRilGUt3YGZBCxzmGwPpwlNZCgpAW8q5AwEk9KD7TPszzyQvUZAZBPvJwZDZD
PHONE_NUMBER_ID=982382238289529

# Webhook
VERIFY_TOKEN=lahdod_webhook_2024

# Google Gemini AI
GEMINI_API_KEY=AIzaSyAvkymOJZ7mxq8eE1S5wz27tMb0hS0p0rM

# Server
PORT=8080
